*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
    gap: 1rem;
}

article{
    color: white;
    
}