*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "poppins-400";
    src: url("poppins/Poppins-Regular.ttf")  
}
@font-face {
    font-family: "poppins-500";
    src: url("poppins/Poppins-Medium.ttf")   
}
@font-face {
    font-family: "poppins-600";
    src: url("poppins/Poppins-SemiBold.ttf")   
}
@font-face {
    font-family: "poppins-700";
    src: url("poppins/Poppins-Bold.ttf")   
}

body{
    background-image: url(images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%) ;
}
main{
    font-family: "poppins";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin: auto;
    gap: 1rem;
}

article{
    color: white;    
}

article h1{
    font-family: "poppins-700";
    font-size: 2.5rem;
    width: 30vw;
    font-weight: bold;
    line-height: 47px;
}
article p{
    font-family: "poppins-400";
    margin-top: 1rem;
    width: 37vw;
    font-size: 0.9rem;
}
#purple-buttton{
    
}